<div class="col-md-8 col-md-offset-2">
  {% form_theme contactForm 'bootstrap_3_layout.html.twig' %}
  {{ form_start(contactForm) }}
  {{ form_row(contactForm.nom) }}
  {{ form_row(contactForm.prenom) }}
  {{ form_row(contactForm.email) }}
  {{ form_row(contactForm.objet) }}
  {{ form_row(contactForm.message) }}
  {{ form_widget(contactForm.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
  {{ form_rest(contactForm) }}
  {{ form_end(contactForm) }}
</div>